.main__nav {
    width: 244px;
    background-color: var(--bar-bg-default);
    padding: 20px 0 20px 36px;
    /* height: 684px; */
    height: 756px;
}

.logo {
    width: 113.33px;
    height: 43px;
    padding: 13px 0 13px 0;
    background-color: transparent;
    margin-bottom: 20px;
}
  
.burger {
    width: 20px;
    height: 36px;
    padding: 13px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    outline: none;
    background-color: var(--bar-bg-default);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
  
.menu {
    display: block;
    visibility: visible;
}
  
.menu_hidden {
    display: none;
    visibility: hidden;
}
  
.image {
    width: 113.33px;
    height: 17px;
    color: #181818;
}
  
.line {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: var(--text-default);
}
  
.list {
    padding: 18px 0 10px 0;
}
  
.item {
    padding: 5px 0;
    margin-bottom: 16px;
}
  
.link {
    color: var(--text-default);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.theme_svg {
    cursor: pointer;
}

/* .theme_block {
    cursor: pointer;
} */