.container {
    display: flex;
    margin-top: 140px;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 366px;
    height: 439px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
    outline: none;
}

.image {
    width: 120px;
    margin-top: 43px;
    margin-bottom: 40px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.input {
    width: 278px;
    height: 52px;
    border: none ;
    border-bottom: 1px solid #D0CECE;
    outline: none;
}


.button {
    background-color: #580EA2;
    width: 278px;
    height: 52px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-family: 'StratosSkyeng';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.button:hover {
    background-color: #3F007D;
}

.button:active {
    background-color: #271A58;
}
