* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}




:root {
  --body-bg-dark: #181818;
  --body-bg-light: #fff;
  --body-bg-default: #181818;

  --bar-bg-dark: #1C1C1C;
  --bar-bg-light: #F6F5F3;
  --bar-bg-default: #1C1C1C;

  --song-icon-dark: #313131;
  --song-icon-light: #F6F4F4;
  --song-icon-default: #313131;

  --text-light: #000;
  --text-dark: #fff;
  --text-default: #fff;



  --player-progress-bg-dark: #2E2E2E;
  --player-progress-bg-light: #D9D9D9;
  --player-progress-bg-default: #2E2E2E;
}


*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  font-family: 'StratosSkyeng', sans-serif;
  cursor: pointer;
}

button,
.btn {
  cursor: pointer;
}


ul li {
  list-style: none;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: local("StratosSkyeng"), local("StratosSkyeng"), url("../fonts/StratosSkyeng.woff2") format("woff2"), url("../fonts/StratosSkyeng.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'StratosSkyeng', sans-serif;
  color: #FFFFFF;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}